@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    font-family: 'Roboto', sans-serif !important;
}

/* header */
#header {
    background-color: #eff5ff;
}

.header-social {
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* navbar dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    transition: .3s all ease-out;
    display: block;
}

/* navbar */
.active {
    color: blue !important;
}

.nav-link {
    font-size: 18px !important;
}

.nav-link:hover {
    color: blue !important;
}

.vertical-ruler::before {
    content: '';
    height: 80%;
    border: 1px solid white;
    margin-right: 20px;
}

/* owl carousel customization */
.owl-carousel-text {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 3rem;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0 0 30px rgba(0, 0, 0, .1);
}

.owl-theme .owl-nav {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 200px;
    height: 45px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
}

#carousel1 .owl-nav button.owl-next,
#carousel1 .owl-nav button.owl-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    border: 1px solid white !important;
    color: white !important;
    margin: 0 !important;
    border-radius: 50%;
}

#carousel1 .owl-nav button.owl-next span,
#carousel1 .owl-nav button.owl-prev span {
    font-size: 3rem !important;
    margin-top: -10px;
}

#carousel1 .owl-nav button.owl-next:hover,
#carousel1 .owl-nav button.owl-prev:hover {
    transition: .3s all ease-in-out;
    background-color: blue !important;
}

#carousel1 .owl-dots {
    position: absolute;
    height: 39px;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center
}

#carousel1 .owl-dots .owl-dot.active span,
#carousel1 .owl-dots .owl-dot:hover span {
    outline: 3px solid blue;
    background-color: white !important;
    outline-offset: 2px;
}

.main-carousel {
    filter: brightness(0.8) !important;
}

/* main section-title */
.section-title {
    width: max-content;
}

.aboutimg2 {
    margin-top: -25%;
}

.aboutimg2 img {
    border: 15px solid white;
    border-radius: 15px;
    border-bottom-left-radius: 25px;
}

.aboutbtn {
    width: fit-content;
}

/* services */
.servicescard {
    background-color: #eff5ff !important;
}

.service-i {
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
}

.services-btn {
    display: block;
    width: 40px;
    background-color: #fff;
    text-wrap: nowrap;
    padding: .5rem;
    border-radius: 50px;
    overflow: hidden;
    transition: .3s all ease-in;
}

.services-btn i {
    padding-left: 6px;
}

.services-btn span {
    margin-left: 7px;
    margin-top: -3px;
}

.servicescard:hover {
    transition: .3s all ease-in;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.servicescard:hover .services-btn {
    width: 126px;
}

/* feature */
.feature-img {
    min-height: 400px;
}

.feature-i {
    height: 60px;
    min-width: 60px;
    border-radius: 50%;
    background-color: #fff;
}

/* doctor */
.card {
    overflow: hidden;
}

.card-img-top {
    position: relative;
    top: 0;
    transition: .3s ease-in;
}

.doctor-cardbody {
    position: relative;
    height: 100px;
    background-color: #eff5ff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-top: 0;
    transition: .3s ease-in;
}

.card:hover .card-img-top {
    top: -30px;
}

.card:hover .doctor-cardbody {
    height: 160px;
    margin-top: -60px;
}

/* appointment */
.appointment-div,
.appointment-right {
    background-color: #eff5ff;
}

/* testimonials */

.testimonial-img {
    height: 100px;
    width: unset !important;
    border-radius: 50%;
    outline: 10px solid blue;
}

#carousel2 .owl-dots {
    display: none;
}

#carousel2 .owl-nav {
    position: absolute;
    top: 14%;
    left: 50%;
    width: 60%;
    z-index: 2;
}

#carousel2 .owl-nav button.owl-next,
#carousel2 .owl-nav button.owl-prev {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    border: 1px solid blue !important;
    color: blue !important;
    margin: 0 !important;
    border-radius: 50%;
    transition: .3s all ease;
}

#carousel2 .owl-nav button.owl-next span,
#carousel2 .owl-nav button.owl-prev span {
    font-size: 3rem !important;
    margin-top: -32%;
}

#carousel2 .owl-nav button.owl-next:hover,
#carousel2 .owl-nav button.owl-prev:hover {
    background-color: blue;
    color: white !important;
}

.testimonial-carousel:hover {
    cursor: pointer;
}

/* footer */
#footer {
    background-color: #1b2c51;
}

.footer-social {
    height: 35px;
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
}

.footer-social:hover {
    background-color: white;
    cursor: pointer;
}

.footer-social:hover i {
    color: blue !important;
}

.fa-greater-than {
    font-size: 10px;
}

.footer-links {
    display: block;
    text-align: left;
    transition: .3s all ease;
}

.footer-links:hover {
    color: blue !important;
    letter-spacing: 1.5px;
}

.footer-links:hover i {
    color: blue !important;
}

#newsletterbtn {
    top: 17%;
    right: 3%;
}

#footerhr {
    width: 90%;
    color: white;
}